
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@import "tailwindcss";
@plugin "./hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@theme {
  /* Opcjonalnie fonty */
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}


/* Wymuszenie ciemnego motywu */
:root {
  color-scheme: dark;
}

body {
  background-color: #09090b;
  color: #ecedee;
}